/*
Colors Used:
Teal: #00CCB5;
White: #FFFFFF;
Black: #000000;
Dark Charcoal: #333333;
Gray Gradient: #EFEFEF;
Drop Shadow: rgba(0,0,0,0.15);
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Urbanist", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.1875em;
  color: #000000;
}

header {
  position: fixed;
  width: 100%;
  background-color: black;
  z-index: 99999999;
}

li {
  list-style: none;
}

a {
  font-size: 16px;
  font-weight: 500;
  color: white;
  text-decoration: none;
}

.navbar {
  height: 70px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0 auto;
}

.nav-menu {
  position: fixed;
  left: -100%;
  top: 70px;
  gap: 0;
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 100%;
  text-align: center;
  transition: 0.3s;
}

.nav-item {
  margin: 16px 0;
}

.nav-menu.active {
  left: 0;
}

.nav-link {
  transition: 0.7s ease;
}

.nav-link:hover {
  color: #8f8f8f;
}

.hamburger {
  display: block;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding-top: 66px;
  margin: 0 auto;
  width: 100%;
}

main.prj-pg {
  padding-top: 132px;
}

section.no-bg {
  width: 82%;
  margin: 0 auto;
}

section.gradient-bg {
  width: 100%;
  padding: 0 9% 35px 9%;
  background-image: linear-gradient(#ffffff, #efefef);
}

.process-h2 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 35px;
}

.table {
  width: 100%;
  border: solid 1px #000000;
  display: flex;
  flex-flow: row wrap;
  margin-top: 20px;
}

.tbl-hdr {
  width: 100%;
  background-color: #000000;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  padding: 3%;
}

.cols {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.left-col {
  width: 40%;
  display: flex;
  flex-flow: column nowrap;
}

.right-col {
  width: 60%;
  display: flex;
  flex-flow: column nowrap;
}

.cell {
  width: 100%;
  height: 20%;
  border: solid 1px #000000;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  padding: 15px;
}

.left-col .cell {
  background-color: #f4f4f4;
}

.right-col .cell {
  background-color: #ffffff;
}

.bold {
  font-weight: 600;
}

li.research {
  font-size: 16px;
  margin-top: 10px;
}

footer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 35px 9% 12px 9%;
}

.steps {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 25px;
}

.tool-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin-top: 25px;
  align-items: flex-start;
}

.skill-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin-top: 0px;
  align-items: baseline;
}

.tool-col {
  display: flex;
  flex-flow: column nowrap;
}

.skill-col {
  display: flex;
  flex-flow: column nowrap;
}

.skill:last-child {
  margin-top: 25px;
}

.tool-row {
  justify-content: space-evenly;
}

.process,
.skill,
.tool {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.tool {
  margin-top: 25px;
}

.tool:first-child {
  margin-top: 0;
}

/* Headers */
h2 {
  margin: 0px;
  font-size: 28px;
  font-weight: 800;
  line-height: 28px;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  margin: 20px 0px 0px 0px;
}

.gradbg-h2 {
  margin-top: 35px;
}

.process-h2 h3 {
  margin: 0px 0px 0px 5px;
  font-size: 22px;
}

h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 30px 0px 0px 0px;
}

h5 {
  font-size: 18px;
  font-weight: 500;
  margin: 20px 0px 10px 0px;
}

h6 {
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  margin: 5px 0px 0px 0px;
  padding: 0px;
}

.conclusion {
  margin-top: 35px;
}

footer h3 {
  margin-top: 30px;
}

p {
  margin-top: 12px;
  margin-bottom: 0;
}

footer p {
  text-align: center;
}

p.dp-statement {
  margin-top: 25px;
}

p.copyright {
  font-size: 14px;
  margin: 32px 0px 0px 0px;
}

p.process-label {
  font-size: 8px;
  font-weight: 700;
  line-height: 1em;
  text-align: center;
}

p.skills-label {
  font-size: 13px;
  font-weight: 700;
  line-height: 1em;
  text-align: center;
}

p.tools-label {
  font-size: 12px;
  font-weight: 700;
  line-height: 1em;
  text-align: center;
}

h3 + p {
  margin-top: 15px;
}

a {
  color: #ffffff;
  text-decoration: none;
  transition-duration: 0.3s;
  transition-property: color;
}

a:visited {
  color: #ffffff;
}

a:hover {
  color: #00ccb5;
}

a:focus {
  color: #333333;
}

a:active {
  color: #00ccb5;
}

.more-info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-top: 15px;
  line-height: 19px;
}

.prototype {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 1em;
  margin-top: 20px;
}

a.readmore {
  font-size: 16px;
  font-weight: 700;
  color: #000000;
  text-decoration: underline;
}

a.footer-btn {
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 260px;
  height: 50px;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: #00ccb5;
  padding: 15px;
  margin: 20px;
  transition-duration: 0.3s;
  transition-property: background-color;
}

a.footer-btn:hover {
  background-color: #00ccb5;
}

a.footer-btn:focus {
  background-color: #efefef;
}

#social-links {
  width: 202px;
  margin-top: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.prj-details {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.detail {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.detail p {
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
  text-align: center;
}

img {
  width: 100%;
}

img.divider {
  margin: 50px 0px;
  width: 82%;
}

img.project-img {
  margin-top: 35px;
}

img.project-header {
  margin-top: 45px;
  margin-bottom: 25px;
  width: 75%;
}

img.overview {
  margin-top: 25px;
}

.process img {
  width: 30px;
  height: auto;
}

.skill img {
  height: 50px;
  width: auto;
}

.tool img {
  height: 35px;
  width: auto;
}

.process-h2 img {
  width: 30px;
  height: auto;
}

@keyframes arrow-move {
  from {
    transform: translate(0, 0px);
  }
  to {
    transform: translate(10px, 0px);
  }
}

#branding {
  fill: #ffffff;
  width: 40px;
}

.link-arrow {
  fill: #00ccb5;
  width: 25px;
  height: auto;
  margin-left: 5px;
  animation-duration: 0.8s;
  animation-name: arrow-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

#linkedin-link {
  width: 49px;
}

#behance-link {
  width: 49px;
}

#github-link {
  width: 54px;
}

#send-message {
  width: 27px;
  margin-right: 10px;
}

#view-resume {
  width: 27px;
  margin-right: 10px;
}

#project-type {
  width: 39px;
}

#tools-used {
  width: 43px;
}

#role {
  width: 33px;
}

#duration {
  width: 35px;
}

@media only screen and (min-width: 450px) {
  .navbar {
    height: 100px;
  }

  .nav-menu {
    top: 100px;
  }

  a {
    font-size: 22px;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(12px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-12px) rotate(-45deg);
  }

  .bar {
    display: block;
    width: 35px;
    height: 5px;
    margin: 7px auto;
  }

  main {
    padding-top: 100px;
  }

  main.prj-pg {
    padding-top: 166px;
  }

  #branding {
    width: 60px;
  }

  .prj-details {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  .detail {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 15px;
  }

  .detail p {
    font-size: 18px;
    line-height: 14px;
    font-weight: 600;
    text-align: center;
  }

  p {
    font-size: 18px;
    line-height: 21px;
  }

  p.copyright {
    font-size: 16px;
  }

  a.readmore {
    font-size: 18px;
  }

  .cell {
    font-size: 16px;
    line-height: 16px;
  }

  li.research {
    font-size: 18px;
    margin-top: 10px;
  }

  #link-arrow {
    width: 30px;
  }

  a.footer-btn {
    font-size: 18px;
    width: 325px;
    height: 60px;
    padding: 15px;
    margin-top: 20px;
  }

  #send-message {
    width: 37px;
  }

  #view-resume {
    width: 37px;
  }

  .process img {
    width: 40px;
    height: auto;
  }

  p.process-label {
    font-size: 10px;
  }

  .skill img {
    height: 75px;
    width: auto;
  }

  p.skills-label {
    font-size: 16px;
  }

  .tool img {
    height: 50px;
    width: auto;
  }

  p.tools-label {
    font-size: 15px;
  }

  #social-links {
    width: 250px;
  }

  #linkedin-link {
    width: 55px;
  }

  #behance-link {
    width: 55px;
  }

  #github-link {
    width: 60px;
  }

  #menu-icon {
    width: 40px;
  }
}

@media only screen and (min-width: 656px) {
  .col-md-6 {
    width: 50%;
    float: right;
    margin-bottom: 25px;
  }

  img.project-img {
    margin-top: 35px;
    margin-left: 15px;
  }

  picture::after {
    content: "";
    clear: both;
    display: table;
  }

  main {
    padding-top: 125px;
    width: 72%;
    margin: 0 auto;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
  }

  main.prj-pg {
    padding-top: 191px;
    width: 72%;
    margin: 0 auto;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
  }

  .navbar {
    height: 125px;
    width: 72%;
  }

  .nav-menu {
    position: unset;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-end;
    gap: 40px;
    width: auto;
    transition: none;
  }

  .nav-item {
    padding-bottom: 6px;
    border-bottom: 4px solid transparent;
  }

  #underline {
    padding-bottom: 6px;
    border-bottom: 4px solid #00ccb5;
  }

  #branding {
    width: 80px;
  }

  .hamburger {
    display: none;
    cursor: pointer;
  }

  a {
    font-size: 24px;
  }

  #branding {
    width: 80px;
  }

  .proj-overview {
    display: flex;
    flex-flow: row nowrap;
    flex-direction: row-reverse;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin: 0 auto;
  }

  .summary {
    margin-left: 20px;
  }

  .proj-title {
    font-size: 24px;
  }

  .brief {
    font-size: 16px;
  }

  img.overview {
    margin: 0;
    min-width: 180px;
  }

  .prj-details {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
    clear: both;
  }

  .detail {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 15px;
    max-width: 20%;
  }

  .detail p {
    font-size: 12px;
    line-height: 14px;
    font-weight: 600;
    text-align: center;
  }

  .cntBtns {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }

  a.footer-btn {
    font-size: 16px;
    width: 182px;
    height: 35px;
    padding: 15px;
    margin: 20px 10px;
  }

  #send-message {
    width: 22px;
  }

  #view-resume {
    width: 22px;
  }

  #project-type {
    width: 50%;
  }

  #tools-used {
    width: 65%;
  }

  #role {
    width: 50%;
  }

  #duration {
    width: 50%;
  }

  h3,
  h4,
  ul {
    clear: both;
  }

  ul {
    margin-right: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  .col-lg-7 {
    width: 60%;
    float: right;
    margin-bottom: 50px;
  }

  .col-lg-5 {
    width: 40%;
    float: right;
    margin-bottom: 50px;
  }

  p {
    font-size: 22px;
    line-height: 25px;
  }

  main {
    padding-top: 150px;
    width: 72%;
    margin: 0 auto;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
  }

  main.prj-pg {
    padding-top: 216px;
    width: 72%;
    margin: 0 auto;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
  }

  .navbar {
    height: 150px;
    width: 70%;
  }

  .nav-menu {
    gap: 60px;
  }

  a {
    font-size: 32px;
  }

  #branding {
    width: 100px;
  }

  .proj-overview {
    display: flex;
    flex-flow: row nowrap;
    flex-direction: row-reverse;
    justify-content: center;
    align-content: center;
  }

  .summary {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    margin-left: 20px;
  }

  .proj-title {
    font-size: 37px;
  }

  .brief {
    margin-top: 20px;
  }

  img.overview {
    margin: 0;
    min-width: 180px;
  }

  .prj-details {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
    clear: both;
  }

  .detail {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 15px;
    max-width: 20%;
  }

  .detail p {
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    text-align: center;
  }

  a.footer-btn {
    font-size: 22px;
    width: 272px;
    height: 50px;
    padding: 15px;
    margin: 20px 10px;
  }

  #send-message {
    width: 36px;
  }

  #view-resume {
    width: 36px;
  }

  #project-type {
    width: 50%;
  }

  #tools-used {
    width: 65%;
  }

  #role {
    width: 50%;
  }

  #duration {
    width: 50%;
  }

  h3,
  h4,
  ul {
    clear: both;
  }

  ul {
    margin-right: 20px;
  }
}
