/*
Colors Used:
Teal: #00CCB5;
White: #FFFFFF;
Black: #000000;
Dark Charcoal: #333333;
Gray Gradient: #EFEFEF;
Drop Shadow: rgba(0,0,0,0.15);
*/

* {
  box-sizing: border-box;
}

body {
  font-family: "Urbanist", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.1875em;
  color: #000000;
}

header {
  background-color: #000000;
  width: 100%;
  height: 66px;
  padding: 20px 0px 12px;
}

#navbar {
  width: 82%;
  height: 34px;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

nav ul {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-right: 28px;
  padding-bottom: 8px;
  display: flex;
  border-bottom: 4px solid transparent;
}

nav ul li:last-child {
  margin-right: 0px;
}

nav ul li a {
  font-size: 18px;
}

li.current {
  border-bottom: 4px solid #00ccb5;
}

main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

section.no-bg {
  width: 82%;
  margin: 0 auto;
}

section.gradient-bg {
  width: 100%;
  padding: 0 9% 35px 9%;
  background-image: linear-gradient(#ffffff, #efefef);
}

footer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 35px 9% 12px 9%;
}

main > h1 {
  margin: 0px;
}

h1 {
  margin: 0px;
  font-size: 1.75em;
  font-weight: 800;
  line-height: 1em;
}

h2 {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1em;
  margin: 0px;
  padding: 0px;
}

footer h2 {
  margin-top: 30px;
}

h3 {
  font-size: 1.125em;
  font-weight: 700;
  line-height: 1em;
  margin: 5px 0px 0px 0px;
  padding: 0px;
}

p {
  margin-top: 5px;
  margin-bottom: 15px;
}

footer p {
  text-align: center;
}

p.copyright {
  font-size: 14px;
  margin: 32px 0px 0px 0px;
}

h3 + p {
  margin-top: 15px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:visited {
  color: #ffffff;
}

a:hover {
  color: #333333;
}

a:focus {
  color: #333333;
}

a:active {
  color: #333333;
}

button.more-info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 1em;
}

a.readmore {
  font-size: 1em;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

a.contact button {
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: 50px;
  width: 260px;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: #00ccb5;
  padding: 15px;
  margin-top: 20px;
}

a.contact button:hover {
  background-color: #efefef;
}

a.contact button:focus {
  background-color: #efefef;
}

#social-links {
  width: 202px;
  margin-top: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

img {
  width: 100%;
}

img.divider {
  margin: 50px 0px;
  width: 82%;
}

img.project-img {
  margin-top: 35px;
  margin-bottom: 20px;
}
/* SVG's */

#pm-logo {
  fill: #ffffff;
  width: 36px;
}

#link-arrow {
  fill: #00ccb5;
  width: 21px;
  margin-left: 5px;
}

#linkedin-link {
  width: 49px;
}

#behance-link {
  width: 49px;
}

#github-link {
  width: 54px;
}

#send-message {
  width: 27px;
  margin-right: 10px;
}

#view-resume {
  width: 27px;
  margin-right: 10px;
}

#discover,
#define,
#design,
#test,
#revise,
#deliver {
  width: 25px;
}

#research {
  fill: #000000;
  width: 61px;
}

#user-flow {
  fill: #000000;
  width: 64px;
}

#wireframes {
  fill: #000000;
  width: 63px;
}

#user-test {
  fill: #000000;
  width: 48px;
}

#prototypes {
  fill: #000000;
  width: 37px;
}

#mockups {
  fill: #000000;
  width: 64px;
}

#figma {
  width: 31px;
}

#xd {
  width: 42px;
}

#illustrator {
  width: 42px;
}

#photoshop {
  width: 42px;
}

#invision {
  width: 42px;
}

#usability-hub {
  fill: #000000;
  width: 42px;
}

#github-icon {
  width: 42px;
}

#vs-code {
  fill-rule: evenodd;
  width: 41px;
}

#atom {
  fill: #000000;
  width: 49px;
}

#javascript {
  width: 43px;
}

#html {
  width: 35px;
}

#css {
  width: 40px;
}

#slack {
  width: 42px;
}

#keynote {
  width: 40px;
}

#project-type {
  width: 39px;
}

#tools-used {
  width: 43px;
}

#role {
  width: 33px;
}

#duration {
  width: 35px;
}
